body{
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
}
div.logo h2 {
    color:rgb(51, 50, 150);
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px;
}
ul.socials{
    list-style: none;
}
ul.socials li{
    display: inline-block;
    background-color: rgb(51, 50, 150);
    border: 2px solid #fff;
    border-radius: 5px ;
   
}
ul.socials li a{
color: #fff !important;
}
.main-nav{
    background-color: rgb(51, 50, 150);
}
.navbar-toggler{
    background-color: #fff; 
}
nav .nav-item a{
    font-size: 1.2 em;
    color: #fff  !important;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
nav .nav-item{
    margin-right: 30px;
}
button.search{
    background-color: #fff  !important;
    color:black;
    border: none;
}
button.search:hover{
  
    color :rgb(51, 50, 150) !important;
    cursor: pointer;


}
footer{
    border-top: 1px solid ;
    background-color: #fff;
    height: 60px;
}
footer ul{
    list-style: none;
}
footer ul li{
    display: inline-block;
    margin-right: 15px;
}
footer ul li a{
    font-size: 1.1em;
    color: rgb(51, 50, 150) !important;
}
footer ul li a:hover{
    text-decoration: none;
    color: rgb(51, 50, 150) !important;
    font-weight: 400;
}
footer ul li:first-child{
    text-decoration: none;
    color: rgb(4, 3, 78) !important;
    font-weight: 700;
}
div.post,
.post{
    background-color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    
    
}
h2{
    color:rgb(116, 114, 226) ;
}
p.added{
    
    border: 1px dashed #1f1785;
    padding: 10px;
    color: #d4d4d4;
    border-radius: 5px;
}
a.username{
    text-decoration: none;
    color: #d4d4d4;
}
a.username:hover{
    text-decoration: none;
    color: #000;
}
.btn-default{
    background-color: rgb(116, 114, 226) ;
    padding: 10px;
    color: #fff !important;
    font-size: 14px;
    border-radius: 10px;
}
.btn-default:hover{
    background-color:rgb(51, 50, 150) ;
}
.footer{
    padding-top: 50px;
}




